<h1>Announcements</h1>

<ul>
  {{#each model as |announcements|}}
    {{announcement-tile announcements=announcements destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement save2="save3"}}
