<div class="row">
  <div class="col-sm-8">
    <ul>
      {{#each model as |rental|}}
        {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-4">
    {{#link-to 'announcements'}}<h4>Announcements</h4>{{/link-to}}

    {{#link-to 'about'}}About{{/link-to}}<br>
    {{#link-to 'contact'}}Contact Us{{/link-to}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{new-rental save2="save3"}}
  </div>
</div>
